%strong Hello , world!
%string is is a test string!
%string ok 
%table{:id => 'mytable' ,:class => 'display'}
  %thead
    %tr
      %th
        aaa
      %th
        bbb
      %th
        ccc
      %th
        ddd
  %tbody
