%form{:class => 'form-horizontal', :action=>"/sp_info/submit_create_spinfo", :method =>"post"}
  .control-group
    %label{:class => 'control-label',:for=>'inputSpName'} SP名称
    .controls
      %input{:type=>"text",:id=>"inputSpName",:placeholder=> 'SP名称', :name => 'spname'}
  .control-group
    .controls
      %button{:type => "submit", :class=>"btn"}
        创建
        
  
