%form{:class => 'form-horizontal', :action=>"", :method =>"post", :id=> "sp_info_create_form"}
  .control-group
    %label{:class => 'control-label',:for=>'inputSpName'} SP名称
    .controls
      %input{:type=>"text",:id=>"inputSpName",:placeholder=> 'SP名称', :name => 'spname'}
  .control-group
    .controls
      %button{:type => "button", :class=>"btn", :id=> "btn_spinfo_create"}
        创建
      %button{:type => "button", :class=>"btn", :id=> "btn_spinfo_create_and_configure"}
        创建并配置

        
  
