<script type="text/javascript">
    $(document).ready(function () {

	var a= $('#data');
	if (a == null) alert('null');
        $('#data').jtable({
            title: '统计信息',
            actions: {
                listAction: '/report/stat_by_province'
            },
            fields: {
		spnumber: {
		    title: 'SP编号',
		    width: '20%'
		},
		province: {
		    title: '省份',
		    width: '20%'
		},
		valid_count:{
		    display: function(data)
		    {
			if (data.record.valid_count == 0)
			    return '0';
			else
			    return data.record.valid_count.toString();
		    },
		    title: '成功数量',
		    width: '20%'
		},
		invalid_count:{
		    display: function(data)
		    {
			if(data.record.invalid_count == 0)
			    return '0';
			else
			    return data.record.invalid_count.toString();
		    },
		    title: '不成功数量',
		    width: '20%'
		}
              }
        });
 
        $('#data').jtable('load',{statdate: '<%= @now %>',spnumber: ''});
    });


function query_data(statdate,spnumber)
{
    $('#data').jtable('load', { statdate: statdate, spnumber: spnumber});
}

function do_query()
{
    query_data(
	$('#query_date').val(),
	$('#spnumber').val()
    );
}
</script>

<h1>分省统计</h1>
<div>
  <table>
    <tr>
      <td>查询日期</td><td><input id="query_date" name="query_date" value="<%= @now %>" type="text"></input></td><td>如： 2012-05-01</td>
    </tr>
    <tr>
      <td>SP编号</td><td> <input id="spnumber" name="spnumber" type="text"></input></td><td></td>
    </tr>
    <tr>
      <td>&nbsp;</td><td><input type="submit" onclick="do_query();"></input></td>
    </tr>
    
  </table>
</div>

<div id="data"></div>