@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/workdir\/project\/ostrich\/web\/app\/assets\/stylesheets\/sp_info\.css\.scss}line{font-family:\000035}}
div.dataTables_info {
  padding-top: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/workdir\/project\/ostrich\/web\/app\/assets\/stylesheets\/sp_info\.css\.scss}line{font-family:\000039}}
div.dataTables_length select {
  width: 75px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/workdir\/project\/ostrich\/web\/app\/assets\/stylesheets\/sp_info\.css\.scss}line{font-family:\0000313}}
div.dataTables_filter label {
  float: right;
  width: 660px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/workdir\/project\/ostrich\/web\/app\/assets\/stylesheets\/sp_info\.css\.scss}line{font-family:\0000318}}
div.dataTables_paginate {
  float: right;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/workdir\/project\/ostrich\/web\/app\/assets\/stylesheets\/sp_info\.css\.scss}line{font-family:\0000323}}
table {
  margin: 1em 0;
  clear: both; }
