%div{:class=>'alert alert-error'}
  %button{:type=>"button", :class=>"close", :"data-dismiss"=>"alert"}
    x
  指令已经存在，请重新选择扩展指令
#cmd_assignment_table
:javascript
  server_params = [
    {name:"name", value:"value"}
  ]
  $(document).ready(function(){
    list_cmd_assignment_table(server_params, #{params[:cpid]})
  });
