%legend
  指令分配
#cmd_assignment_table
:javascript
  server_params = [
    {name:"name", value:"value"}
  ]
  $(document).ready(function(){
    list_cmd_assignment_table(server_params, #{params[:cpid]})
  });
