<ul class="nav nav-list">
  <li class="nav-header">统计</li>
  <li><a href="/report/stat">统计查询</a></li>
  <li><a href="/report/alert">异常查询</a></li>
  <li><a href="/report/view_by_hour">分时统计</a></li>
  <li><a href="/report/view_by_province">分省统计</a></li>
  <li><a href="/report/detail">明细查询</a></li>
 
  <li class="nav-header">其它</li>
</ul>
